body{
    background-color:#9B9B9B;
    margin:0;
    padding: 0;
}

canvas{
    border: solid 1px black;
    
}

.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-game{
    position: absolute;
    top: 40%;
    left: 40%;
}

.hidden{
    display: none;
}


/*seccion pantalla informativa*/

.prompt{
    display: flex;
    flex-direction: column;
    background-color: #9B9B9B;
    width: 230px;
    height: 350px;
    position: absolute;
    z-index: 9999;
    border:1px solid black;
    left: 100px;
    top:20px;
    align-items: center;
    
}

.log{
    width: 210px;
    height: 300px;
    z-index: 9999999;
    overflow: auto;
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none;  /* Para Internet Explorer y Edge antiguo */
    border: dashed 1px black;
    color: black;
    font-weight: bolder;
}

.logStyle{
    color: blue;
}

h3{
   font-weight: bold;
   color: black;
   margin: 0;
   padding: 0;
   margin-top: 10px;
   margin-bottom: 5px;   
}

